 

.cart-table img{
    width: 200px;
    height: 150px;
}
 
/* Cart.css */


/* Make the table responsive */
table {
    margin-left: 60px;

    width: 90%;
    border-collapse: collapse;
    margin-top: 15px;
    overflow-x: auto;  /* Enable horizontal scrolling on small screens */
  }
 

 
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  /* Add responsiveness for smaller screens */
  @media (max-width: 768px) {
    table {
        margin-left: 10px;
    
       }
    th, td {
      font-size: 14px; /* Adjust font size for better readability on smaller screens */
    }
  
    /* Hide table header on small screens */
    thead {
      display: none;
    }
  
    /* Display a simplified heading above each column on small screens */
    tbody tr {
      display: block;
      margin-bottom: 15px;
      position: relative;
    }
  
    tbody td::before {
      content: attr(data-label);
      font-weight: bold;
      position: absolute;
      top: 0;
      left: 0;
      width: 50%; /* Adjust as needed based on your layout */
    }
  
    /* Display block for each cell in the table body */
    tbody td {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  
    /* Hide the last cell's border to prevent a double border effect */
    tbody td:last-child {
      border-bottom: none;
    }
  }
  